@font-face {
  font-family: "StarJedi";
  src: url("../fonts/Starjedi.woff2") format("woff2"),
       url("../fonts/Starjedi.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
$font-heavy: 700;
$font-regular: 300;