@use '../abstracts';
#main-header {
     background-color: rgba(0, 0, 0, 0.8);
     width: 100%;
     height: 90px;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 1000;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0 45px;

     #logo {
    width: 100px;
    height: 50px;
    }
#ham-burger {
  display: flex;
  cursor: pointer;
  
  img {
     height: 40px;
     width: 40px;
     transition: all 0.4s ease;
  }
      @media (min-width: 768px) {
      display: none;
    }
}


#hamburger {
  display: none;

  &:checked ~ label img {
 transform: rotate(-90deg);
  }
  &:checked ~ #main-nav {
  transform: translateX(0);
  opacity: 1;
}
}
#main-nav {
  font-family: "StarJedi", sans-serif;
  letter-spacing: 2px;
  background-color: rgba(0, 0, 0, 1);
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 16px;
  position: fixed;
  top: 90px;
  left: 0;
  z-index: 1;
  transform: translateX(100%);
  opacity: 0;
  transition: all  0.3s ease;
  display: flex;
  justify-content: center;


  nav{
     ul {
      list-style-type: none;
      margin-top: 70px;
      padding: 0;

  li {
      margin: 30px 50px 30px 10px;
  
      a {
         color: abstracts.$primary-color;
         display: block;
         text-decoration: none;
         font-size: 20px;
      &:hover {
              color: abstracts.$secondary-color;
              transform: scale(1.1);
               transition: all 0.3s ease-in-out;
            }
         }
      }
    }
  }
}
}
@media screen and (min-width: 768px) {
 
  #main-header {
    
    #ham-burger {
    display: none;
    }

    #main-nav {
      width: auto;
      height: auto;
      position: relative;
      opacity: 1;
      transform: none;
      transition: none;
      background: none;
      top: 0;
    }
  
  #main-nav nav ul {
    margin-top: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 80px;
  }

  #main-nav nav ul li {
    margin: 0;
    padding: 10px;
  }

  #main-nav nav ul li a {
    font-size: 20px;
    color: abstracts.$primary-color;
    margin-top: 15px;
    margin-bottom: 5px;
    transition: none;
  }
  #main-nav nav ul li a:hover {
    color: abstracts.$secondary-color;
     transition: all 0.3s ease-in-out;
  }
  }
}

@media screen and (min-width: 1200px) {
  #ham-burger {
    display: none;
  }

  #main-header {
    #main-nav {
      position: relative;
      width: auto;
      height: auto;
      opacity: 1;
      transform: none;
      background: none;
      top: 0;
      transition: none;
    }
  
  #main-nav nav ul {
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 120px;
  }

  #main-nav nav ul li {
    margin: 0;
    padding: 10px;
  }

  #main-nav nav ul li a {
     font-size: 22px;
    margin-top: 15px;
    margin-bottom: 5px;
    transition: none;
  }
}
}