body {
    background-image: url(../images/bg.jpg);
}

#character-box ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    li {
        background-color: #ffffff6c;
        border-radius: 150px;
        margin: 30px;
        height: 210px;
        width: 210px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        a {
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            margin-top: 10px;
            color: #fff;
        }

        img {
            text-align: center;
            border-radius: 200px;
            border: 3px solid #fff;
        }
    }

}