@use '../abstracts';
body {
    background-image: url(../images/bg.jpg);
}
.title {
    margin: 200px auto 50px auto;
    color: abstracts.$primary-color;
    text-align: center;
    font-size: 26px;
}
.info {
    color: abstracts.$secondary-color;
     text-align: center;
     font-size: 18px;
}

#character-box ul {
    position: relative;
    margin-top: 100px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;

    li {
        background-color: #ffffff6c;
        border-radius: 150px;
        margin: 30px;
        height: 210px;
        width: 210px;
        text-align: center;
       
        a {
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            margin-top: 10px;
            color: #fff;
            cursor: pointer;
        }

        img {
            text-align: center;
            border-radius: 200px;
            border: 2px solid #fff;
            width: 210px;
            height: 210px;
            object-fit: cover;
        }
    }
}
.movie-card {
    margin-top: 30px;
    .movie-title {
        font-size: 30px;
        font-weight: bold;
        margin: 20px 0 20px 0; 
         color: abstracts.$primary-color; 
    }
    h3,p{
       color: abstracts.$secondary-color;
        margin: 20px 0 20px 0;
        font-size: 18px;
    }
}
.movie-poster {
  width: 250px;

 
}
@media screen and (min-width:768px) {
    #character-box ul {
    margin-left: 0;
    }
    .title {
    font-size: 30px;
}
.info {
    color: abstracts.$secondary-color;
     text-align: center;
     font-size: 25px;
}
}

#lightbox {
    color: #fff;
}