@use '../abstracts';

body {
    background-image: url(../images/bg.jpg);
    font-family: "Montserrat", sans-serif;
}
.title {
    margin: 200px auto 50px auto;
    color: abstracts.$primary-color;
    text-align: center;
    font-size: 23px;
    font-family: "StarJedi", sans-serif;
    letter-spacing: 5px;
}
.info {
    color: abstracts.$secondary-color;
     text-align: center;
     font-size: 18px;
}

#character-box ul {
    position: relative;
    margin-top: 100px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;

    li {
        background-color: #ffffff6c;
        border-radius: 150px;
        margin: 30px;
        height: 210px;
        width: 210px;
        text-align: center;
       
        a {
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            margin-top: 10px;
            color: #fff;
            cursor: pointer;
            text-decoration: none;
        }

        img {
            text-align: center;
            border-radius: 200px;
            border: 2px solid #fff;
            width: 210px;
            height: 210px;
            object-fit: cover;
        }
    }
}

#lightbox {
    width: 90%;
    }
    
    
    .movie-con {
        display: flex;
        flex-direction: column;
        margin: 30px auto;
        background-color: rgba(193, 193, 193, 0.659);
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
    
        &:hover {
            transform: scale(1.05);
            background-color: rgba(255, 255, 255, 0.659);
        }
    }
    
    .poster {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }
    
    .movie-poster {
        width: 200px;
    }
    
    
    .movie-text {
        margin: 10px 20px;
    }
    
    .movie-title {
        text-align: center;
        font-weight: bold;
    }
    
    
    .movie-date {
        text-align: center;
        margin-top: 10px;
    }
    
    .movie-opening-crawl {
        font-size: 14px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    
    #back-to-top {
        position: fixed;
        bottom: 30px;
        right: 30px;
        padding: 10px 15px;
        font-size: 18px;
        cursor: pointer;
        background-color: transparent;
        border: 2px solid #fff;
        border-radius: 50px;
        color: #fff;
}


@media screen and (min-width:768px) {
    #character-box ul {
    margin-left: 0;
    }
    .title {
    font-size: 27px;
}
    .info {
        color: abstracts.$secondary-color;
        text-align: center;
        font-size: 25px;
    }
    .movie-con {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .movie-poster {
        margin: 0 30px 30px 30px;
    }

    .movie-text {
        width: 60%;
        margin-top: 50px;
    }

    .movie-title {
        text-align: start;
    }

    .movie-date {
        text-align: start;
    }

    .movie-opening-crawl {
        text-align: start;
    }
}

@media screen and (min-width:1200px) {
    .movie-poster {
        width: 300px;
    }

    .movie-text {
        margin-top: 100px;
    }

    .movie-opening-crawl {
        font-size: 16px;
    }

}